/* Superior part - cria uma margem para que a img nao suba*/

/* .top_section {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

/* Background image - fundo azul listrado*/

body {
  background-image: url("../images/Backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

/* Hero Image Area */
#image_section {
  background-repeat: no-repeat;
  background-size: 1100px 800px;
  background-size: cover;
  background-position: center;
  /* background-position-x: 28vw; */
  width: 900px;
  height: 600px;
  position: absolute;
  right: 42px;
  top: 30px;
}

/* colocar a div do Wally no JS */
#findWally {
  border-color: transparent;
  /* background-color: greenyellow; */
  /* opacity: 60%; */
  border-style: dotted;
  border-width: 3pt;
  width: 30px;
  height: 40px;
  position: absolute;
  right: 26%;
  bottom: 5%;
}
.blur {
  background-color: snow;
  opacity: 95%;
  border-color: red;
  border-style: dotted;
  width: 900px;
  height: 600px;
  position: absolute;
  right: 42px;
  top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
#winText {
  font-size: 100pt;
  background-color: white;
  opacity: 80%;
  text-align: center;
  position: relative;
  top: 30%;
}

/* Left Container */

.left_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.logo {
  width: 22%;
  height: 8%;
  margin-left: 50px;
  transform: rotate(-8deg);
  margin-bottom: 30px;
  z-index: 1;
}

.box {
  background-color: #fff;
  width: 15%;
  height: 90px;
  text-align: center;
  margin: 3px 50px;
  border-radius: 20pt;
  border: solid;
  border-width: 2pt;
  border-color: #ef2924;
}

.audio_box {
  background-color: #fff;
  width: 15%;
  height: 50px;
  text-align: center;
  margin: 5px 50px;
  border-radius: 20pt;
  border: solid;
  border-width: 2pt;
  border-color: #ef2924;
  border-width: 2pt;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-right: 50px;
  justify-content: space-evenly;
  align-items: center;
}

#stopBtn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  font-size: 16pt;
}
.initialSound {
  margin-right: 50px;
  width: 100%;
  /* margin-top: 20px; */
}

h1 {
  font-size: 20pt;
  margin: 5px;
}
p {
  font-size: 14pt;
  margin-top: 5pt;
}
